<div class="row">
  <div id="page_thumbnails"></div>
</div>

<script id="tmpl_page_thumb" type="text/x-handlebars-template">
<div class="span3">
  <div class="thumbnail">
    <div class="caption">
      <h3><a href="/pages/{{id}}">{{ title }}</a></h3>
      <p class="sitename"><a href="{{ site.domain }}">{{ site.name }}</a></p>
    </div>
    <ul>
      {{#each_upto images 10}}
      <li><a href="#"><img src="{{this.thumb_url}}" alt="{{this.content}}" /></a></li>
      {{/each_upto}}
    </ul>
  </div>
</div>
</script>
