<div class="row">
  <div id="page_thumbnails">
    <% @pages.each do |page| %>
      <div class="span3">
        <div class="thumbnail">
          <div class="caption">
            <h3><%= link_to page.title, page %></h3>
            <p class="sitename"><%= link_to page.site.name, page.site.domain %></p>
          </div>
          <ul>
            <% page.images.first(10).each do |image| %>
              <li><%= link_to image_tag(image.thumb_url, alt: image.content), image.url %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @pages %>
