@import 'twitter/bootstrap';
@import 'twitter/bootstrap/responsive';

body {
  background: #E56E94;
}

.pagination {
  .next,
  .prev {
    position: fixed;
    top: 50%;

    a {
      display: block;
      padding: 20px;
      background: rgba(255, 255, 255, 0.5);
    }
  }

  .next {
    right: 0;
  }

  .prev {
    left: 0;
  }
}

#container {
  padding-top: 60px;
}

#topbar {
  .brand {
    color: #000;
  }

  .navbar-inner {
    background: rgba(255, 255, 255, 0.5);
  }
}

#image_thumbnails {
  .thumbnail {
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.75);
  }
}

