$gridColumnWidth: 75px;
$gridGutterWidth: 5px;
$gridColumnWidth1200: 95px;
$gridGutterWidth1200: 5px;
$gridColumnWidth768: 57px;
$gridGutterWidth768: 5px;

@import 'twitter/bootstrap';
@import 'twitter/bootstrap/responsive';


body {
  position: relative;
  background: #E56E94;
  padding-top: 40px;
}

.pagination {
  .next,
  .prev {
    position: fixed;
    top: 50%;

    a {
      display: block;
      padding: 20px;
      background: rgba(255, 255, 255, 0.25);
    }
  }

  .next {
    right: 0;
  }

  .prev {
    left: 0;
  }
}

#container {
  margin-top: 20px;
}

#topbar {
  .brand {
    color: #000;
  }

  .navbar-inner {
    background: rgba(255, 255, 255, 0.25);
  }
}

#image_thumbnails {
  .thumbnail {
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.25);
    border: none;
    text-align: center;
  }
}


/* responsive */
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}
